doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= title
		link(rel='icon', href='/images/title.png')
		link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap-3.3.7-dist/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/cityPicker.css')
		// HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询
		// 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果
		//if lt IE 9
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
	body
		header.row.clearfix.nav-root
			.col-md-12.column.nav-con
				nav.navbar.navbar-default.nav-bg(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='') 12345电影
					#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav
							li.dropdown
								span#cityChoice.dropdown-toggle(data-toggle='dropdown')
									strong.caret
								input#province(type='hidden', value='')
								input#city(type='hidden', value='')
						ul.nav.navbar-nav.navbar-right
							li
								form.navbar-form(role='search')
									.form-group
										input.form-control.input-radius(type='text', placeholder='搜索')
									button.btn.btn-default.search-btn(type='submit')
							li
								a(href='/user/login')= username
		header.row.clearfix.nav-root-v
			.col-md-12.column.nav-con-v
				nav.navbar.navbar-default.nav-bg-v(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='') 12345电影
					#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav
							li.dropdown
								a.dropdown-toggle(href='', data-toggle='dropdown')
									strong.caret
						ul.nav.navbar-nav.navbar-right
							li
								form.navbar-form(role='search')
									.form-group
										input.form-control.input-radius(type='text', placeholder='搜索')
									button.btn.btn-default.search-btn(type='submit')
							li
								a(href='/user/login')= username
		section.row.clearfix
			.col-md-12.column
				#carousel-518424.carousel.slide.img-turn
					ol.carousel-indicators
						li.active(data-slide-to='0', data-target='#carousel-518424')
						li(data-slide-to='1', data-target='#carousel-518424')
						li(data-slide-to='2', data-target='#carousel-518424')
					.carousel-inner
					a.left.carousel-control(href='#carousel-518424', data-slide='prev')
						span.glyphicon.glyphicon-chevron-left
					a.right.carousel-control(href='#carousel-518424', data-slide='next')
						span.glyphicon.glyphicon-chevron-right
				.row.clearfix.all-movie
					.col-md-8.column
						p.red-big-font 正在热映
						.row#movies
					.col-md-4.column
						p.red-big-font 票房排行
						table.table
							thead
								tr
									th
										|  
									th
										| 影片名
									th
										| 实时票房（万）
									th
										| 累计票房（万）
							tbody

		footer.row.clearfix
			| ©2017 12345电影网
		// jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery)
		script(src='/javascripts/jquery.js')
		// 包括所有已编译的插件
		script(src='/javascripts/bootstrap-3.3.7-dist/js/bootstrap.min.js')
		script(src='/javascripts/addMovie.js')
		script(src='/javascripts/cityPicker/geolocation.js')
		script(src='/javascripts/cityPicker/cityData.js')
		script(src='/javascripts/cityPicker/cityPicker.js')
		script.
			var cityPicker = new IIInsomniaCityPicker({
			data: cityData,
			target: '#cityChoice',
			valType: 'k-v',
			hideCityInput: '#city',
			hideProvinceInput: '#province',
			callback: function(city_id) {
			//alert(city_id);
			}
			});
			cityPicker.init();
