* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 240px) {
  .signup-form {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 241px) and (max-width: 380px) {
  .signup-form {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 381px) and (max-width: 550px) {
  .signup-form {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 551px) and (max-width: 799px) {
  .signup-form {
    width: 40%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .signup-form {
    width: 30%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .signup-form {
    width: 25%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1601px) and (max-width: 2048px) {
  .signup-form {
    width: 20%;
    margin: 0 auto;
  }
}

body.signup {
  font: 14px 微软雅黑, Helvetica, Arial, sans-serif;
  color: white;
  background: #175A41;
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0 0 10vh 0;
}

a.navbar-brand:before {
  content: "\f008";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  margin-right: 0.4em;
}

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.input-group {
  margin: 1em 0;
}

h3.signup-h3 {
  text-align: center;
}

span.input-group-addon {
  padding: 5px 6px;
}

.form-control {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
}

.input-group-addon {
  color: #fff;
  background-color: rgba(238, 238, 238, 0);
}

.btn.btn-default {
  margin: 0 auto;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  cursor: pointer;
  transition-duration: 0.15s;
}

form.form-horizontal {
  text-align: center;
}

.btn.btn-default[type=reset] {
  /*float: left;*/
  margin-right: 1em;
}


/*.btn.btn-default:nth-child(5) {
  float: left;
}*/


/*.btn.btn-default[type=submit] {
  float: right;
}*/


/*.btn.btn-default:nth-child(6) {
  float: right;
}*/

.btn.btn-default:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.error {
  color: #f9ff00;
  text-align: left;
  display: none;
}

.error:before {
  content: "\f071";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #f9ff00;
  margin-right: 0.4em;
}

.tips {
  text-align: left;
  display: none;
}

p#switch {
  margin: 1em 0 2em 0;
}

p#switch a {
  color: #53afff;
}

p#switch a:hover {
  color: #caecfd;
}

ul.nav.navbar-nav.navbar-right li a {

}
